{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/toys/toy-index.css' %}" />
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>All Dog Toys</h1>
  <img src="{% static 'images/squeeky-toy.png' %}" alt="A squeeky toy" />
  <img src="{% static 'images/toy-rope.png' %}" alt="A toy rope" />
  <img src="{% static 'images/toy-doll.png' %}" alt="A toy doll" />
  <img src="{% static 'images/toy-ball.png' %}" alt="A toy ball" />
</section>

<section class="card-container">
  {% for toy in toy_list %}
    <div class="card" style="border-color: {{ toy.color }}">
      <div class="card-bg" style="background-color: {{ toy.color }}"></div>
      <a href="{% url 'toy-detail' toy.id %}">
        <div class="card-content">
          <h2>{{ toy.name }}</h2>
          <p>A {{ toy.color }} toy</p>
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
